body,
html {
    margin: 0;
    padding: 0;
    font-family: "Ancizar Serif", serif;
    height: 100%;
}

.container {
    background: linear-gradient(135deg, rgb(124, 16, 16), rgb(185, 185, 19));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.content {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 10px;
    max-width: 350px;
    box-shadow: 4px 4px 10px rgba(15, 2, 2, 0.3);
}

.logo {
    height: 150px;
    width: 150px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px dotted violet;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

p {
    color: #666;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

button,
input[type="email"] {
    padding: 10px 15px;
    margin-bottom: 10px;
    border: 2px solid #681111;
    border-radius: 5px;
}

button {
    background-color: green;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: rgb(7, 69, 7);
    /* font-size: 15px; */
    /* color: green; */
}